// CONTENT
$color-text: #393b3f;
$color-heading-text: #232c3f;
$color-secondary-text: #6b7177;
$color-light-text: #8d9095;

// LINKS
$color-link-text: #008060;
$color-link-text-active: $color-text;

// BUTTONS
$color-button-bg: $color-link-text;
$color-dark-button-bg: $color-heading-text;
