// CONTENT
$color-text: #393b3f;
$color-heading-text: #232c3f;
$color-secondary-text: #6b7177;
$color-light-text: #8d9095;
$color-color-text: #008060;

// LINKS
$color-link-text: $color-secondary-text;
$color-active-link-text: $color-heading-text;
$color-link-text-active: $color-text;

// BUTTONS
$color-button-bg: $color-color-text;
$color-dark-button-bg: $color-heading-text;
